<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="cache" value="https://nexus.artlogics.ru/repository/nuget.org-proxy/" />
    </packageSources>
    <packageSourceCredentials>
        <cache>
            <add key="Username" value="nuget" />
            <add key="ClearTextPassword" value="Feifooquo6ai" />
        </cache>
    </packageSourceCredentials>
</configuration>
